<script>

// In order to give programmers full freedom, we avoided dealing with dependencies here.
// To use this include, one must FIRST provide inclusions for jquery.js and web2py.js.

var  tandabui={};

function tandabui_init() {

  tandabui['session_id']='{{=response.session_id}}';

  $('input, select').each(function(e) { $(this).attr('data-name', $(this).attr('name')); } );
  tdb_connect();
}


$(document).ready(function() {
  tandabui_init();
});

</script>
<script src="{{=URL('static','plugin_tandabui/js/tandabui.js')}}"></script>  
