<html>
<head>
  <script src="{{=URL('static','plugin_tandabui/js/jquery-1.7.2.min.js')}}"></script>  
  <script src="{{=URL('static','js/web2py.js')}}"></script>  
  {{include 'plugin_tandabui/header.html'}}
</head>
<body>
  {{include}}
</body>
</html>
